<div class = 'container'>
  <div class = 'row'>
    <%= link_to "+ New Topic", new_topic_path, class: 'btn btn-primary' %>
  </div>
  <% @topics.each do |topic| %>
    <div class = 'row'>
      <br />
      <h4>
        <strong># <%= link_to topic.title, topic_path(topic) %></strong>
        <br /><br />
      </h4>
      <%= render topic.bookmarks %>
      </div>
  <% end %>
</div>

<script>
  rocmetrics.report('Logged In');
</script>
