<div class = 'container'>
  <div class = 'col-md-8'>
    <div class = 'row'>
      <div class = 'col-md-8'>
        <% @topics.each do |topic| %>
          <h4>
            <strong># <%= link_to topic.title, topic_path(topic) %></strong>
            <br />
          </h4>
          <%= render topic.bookmarks %>
        <% end %>
      </div>
    </div>
  </div>
  <div class = 'col-md-4'>
    <div class = 'row'>
      <%= link_to "+ New Topic", new_topic_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
